/DeliveriesNotLoadedException.class
/DijkstraException.class
/ForgivableXMLException.class
/LoadDeliveryException.class
/LoadMapException.class
/ManagementException.class
/MapNotChargedException.class
/NoRepositoryException.class
/TSPLimitTimeReachedException.class
/XMLException.class
